<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rating of customer Page</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!--Link Tab-->
    <div class="col-10">
        <div class="row">
            <nav class="navbar navbar-expand-lg col-12" style="background-color:aliceblue" role="navigation">
                <div>
                    <ul class="nav navbar-nav">
                        <li>
                            <h4 class="text-center text-primary">
                                Welcome admin
                            </h4>
                            <h4 class="text-center text-primary">
                                <a href="{{url_for('logout')}}">Logout</a>
                            </h4>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('home')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('graph')}}">Customer Rating Graph</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('comment')}}">Customer Comment</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!--Home-->
    <center><h1>NEA Chat Bot Home Page</h1></center>
</body>
</html>