<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>***</title>
  </head>
  <body>
      <h2> WEB SERVICE IS RUNNING</h2>
    <img src = "https://raw.githubusercontent.com/FYP-Chatbot-Team/Customer_Service_ChatBot/main/image/WRMD1.PNG?token=AWNOUHQUFYXR37VHKCFTHP3BT3TAG">
    <img src = "https://raw.githubusercontent.com/FYP-Chatbot-Team/Customer_Service_ChatBot/main/image/WRMD2.PNG?token=AWNOUHUTVPRJJFFD3JCBCY3BT3TD2">
    <img src = "https://raw.githubusercontent.com/FYP-Chatbot-Team/Customer_Service_ChatBot/main/image/WRMD3.PNG?token=AWNOUHWBS5GOVNVA2N5B5OLBT3TGE">
    <img src = "https://raw.githubusercontent.com/FYP-Chatbot-Team/Customer_Service_ChatBot/main/image/WRMD4.PNG?token=AWNOUHXVBCNT4JPOXEAAQNDBT3THU">
    <img src = "https://raw.githubusercontent.com/FYP-Chatbot-Team/Customer_Service_ChatBot/main/image/WRMD5.PNG?token=AWNOUHVHOOETJVG6R3QQZLDBT3TI4">
  </body>
</html>
