<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <img src="https://lh3.googleusercontent.com/IC0Oz7wNoPbeF9221xy7-nPfbYTfwQxPoH8n9Gce60sfY-VuVsvjOHwGwA80IeaCeJmzGDMJLBeefERb6jDYAdEo0V0PizKFq-BHDQJdlLOGdzQOccnwUA9G_6oOblwUTHGJyOYzxFkmffdk9OHBl2j3F63lx5U5tblmhBRpRZM2Fp4Ta_0su-0t1izNq42lHKy8vOFta9Z9AZV9ybzkvDQhp6NqXSTQHOO7He1yvs0ZUvv7xdEtRWRCCLiEXHpbD8I3nB4b_OyAe9IPija-xCXJz_v7Zw4OYaxk0-qU8Q4raXhBd_FTw1o7nNBfAWkrTn8MHSBH1koVEy9LuQv5Bgg5M8AOhJb4Qp-gPTPQhpqUdBhSXtrsqKg7sX0_MDEqFXAVGQvmwpTPfxF3AKRqke37MGPajHkZYNj6WSIJNXK7aUqvs_M65JwwBIbBsqzJmWtXnOCCXri-J8hRZ3PJuLQvdp1csE_CPMjC1BblboPDcCJghDXOMod-39UJ3Hyu-aRlgyVvkC_-bh8CGbPWGaY0phjYmX0QwZcWCsqIo4u_dKxNgaPFe3Vq6yJOkhfz-xPortIbsVxm35tugEsA-zifu6_z4YBRdn8efvJaeRHGd9JnkFcJL63MLqQBjFZg71g26FNIjj08RyHxhbKrOIPldYMwK_5Dj_jsLUhRCd5HBAzBqF0pWLbuVsqTkHF-dlyPMbPfH99Uj-_JaqFpeQ=s225-no?authuser=2" width="100" height="100" />
                        <form method="POST">
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="text" name="username" placeholder="Username">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <p class="control has-icons-left">
                                    <input class="input" type="password" name="password" placeholder="Password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button type="submit" class="button is-success">
                                        Login
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>